<script src="@{'/public/javascripts/controllers/menu.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<nav class="navbar navbar-default">
    <div class="container-fluid" ng-controller="MenuController">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GplayAngularJs</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="menuClass('cargos')" ><a ui-sref="cargos">Cargos <span class="sr-only">(current)</span></a></li>
                <li ng-class="menuClass('analistas')" ><a ui-sref="analistas">Analistas</a></li>
                <li ng-class="menuClass('projetos')" ><a ui-sref="projetos">Projetos</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuário <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Perfil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>